<body class="animsition">
    <div class="wrapper">
        <div class="search-content blog-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="side-widget space30">
                            <h5>Filter Listings</h5>
                            <div class="side-cat2">
                                <form>
                                    <select class="categorie">
                                        <option>Categories</option>
                                        <option>Restaurants</option>
                                        <option>Caffe</option>
                                        <option>Sport</option>
                                    </select>
                                    <input class="keyword" type="search" placeholder="Keyword">
                                    <input class="location" type="search" placeholder="Location">
                                    <input class="radius" type="search" placeholder="Radius (5 km)">
                                    <input class="reviews" type="search" placeholder="Reviews count (2)" disabled>
                                    <input type="checkbox" class="cbox" name="r-cbox" id="r-cbox1" />
                                    <label for="r-cbox1"> <span class="star-ratings">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                </span> </label>
                                    <br/>
                                    <input type="checkbox" class="cbox" name="r-cbox" id="r-cbox2" />
                                    <label for="r-cbox2"> <span class="star-ratings">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o no"></i>
                                </span> </label>
                                    <br/>
                                    <input type="checkbox" class="cbox" name="r-cbox" id="r-cbox3" />
                                    <label for="r-cbox3"> <span class="star-ratings">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o no"></i>
                                <i class="fa fa-star-o no"></i>
                                </span> </label>
                                    <br/>
                                    <button type="submit">Search listings</button>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-9 dir-search dir-search-list">
                            <div class="row">
                                <div class="col-md-10">
                                    <% @businesses.each do |f| %>
                                        <div class="listing space30">
                                            <div class="listing-info row">
                                                <div class="col-md-4">
                                                    <div class="">
                                                        <%= image_tag portfolio_img(f), width: '100%' %>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <h4 class="li-name"><%= link_to f.name, business_path(f) %>  </h4>
                                                    <p class="li-category">Caffe,restaurant</p>
                                                    <p class="li-location"> <%= f.address_1 %> </p>
                                                    <p> <%#= link_to "Book", new_org_event_path(current_org.id) , class:'btn btn-primary' %></p>
                                                    <% if current_business and current_business.id == f.id %>
                                                            <p> <%= link_to "edit", edit_business_registration_path %></p>
                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                               </div>
                            </div>
                        <!-- <div><%#= will_paginate @businesses, renderer: BootstrapPagination::Rails  %></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>