<div class="container">
	<div class="header-row" id="header-row" style="padding: 0px; overflow:hidden; height:100px;">
		<div class="container-fluid" style="padding: 0px;">
			<div class="row"> 
			    <div class="col-xs-12"> 
			        <a class="navbar-brand logo" href="index.html">
				        <!-- place your image here -->
			           <img src="http://placekitten.com/g/1200/600" alt="company logo" style="width: 100%;">
			        </a> 
			    </div>     
			</div>
		</div>
    </div>
</div>
