  <%# provide(:title, @page.name) %> 
<div class="container mt-5">
	<div class="header-row" id="header-row" style="padding: 0px; overflow:hidden; height:100px;">
		<div class="container-fluid" style="padding: 0px;">
			<div class="row"> 
			    <div class="col-xs-12"> 
			        <a class="navbar-brand logo" href="index.html">
				        <!-- place your image here -->
			           <img src="http://placekitten.com/g/1200/600" alt="company logo" style="width: 100%;">
			        </a> 
			    </div>     
			</div>
		</div>
    </div>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<h1  class=" ev_name mt-2"> event name </h1>
	    	<h5 class="short_desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	        </h5>
	    	<p class="by"> Invited by: <%#= link_to @page.org.manager ,@page.org.manager, class: "by_link " %> name</p>
	    	<p class="inBene">
	    		In benefit of: name<%#= link_to @page.org.manager, @page.org.manager, class: "inBene_link" %>
	    	</p>
	    	<p>
	    		<i class="fa fa-calendar"></i><b> When: </b><%#= @page.date_start.strftime("%F") %>
	    	</p>
	    	<%= image_tag("event_image.png", :alt => "rss feed", class:"img-fluid", id: "") %>
		</div>
		<div class="col-md-4">
			<div class="sales_info">
	    			
	    	</div>
	    	<br>
	    	<form>
			    <select class="form-control">
				  <option>Selection Option</option>
				</select>
				<br>
				<select class="form-control">
				  <option>Select Number of People</option>
				</select>
				<br>
				<button type="button" class="btn btn-secondary btn-lg btn-block btn-success"> Buy </button>
				<button type="button" class="btn btn-secondary btn-lg btn-block mt-2 "> Give as a Gift </button>
			</form>
			<br>
			<br>
			<div>
				<p>Share This Deal</p>
				<ion-icon size="large", name="logo-facebook"></ion-icon>
				<ion-icon size="large", name="logo-twitter"></ion-icon>
				<ion-icon size="large", name="mail"></ion-icon>
				<ion-icon size="large", name="text"></ion-icon>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">  	
	    	<p class="lead wrap EPabout mt-4" >Event Description: about</p><br>
	    	<p class="">Event has ended</p>
		    <div id="" >
		        <li style="text-align:center; list-style: none; font-size: 16px;">Name: </li>
		    </div>
			<br>
	    	<h3 class="center" id="comment_count"> Comments </h3>
	    	<br>
	    	<br>
	    	<h4>Leave a Comment: </h4>
		</div>
		
	</div>
</div>



