

<% if current_business.events.last.new_record? %>
	<%= current_business %>
	<h1>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos numquam, voluptatum tempora distinctio nihil exercitationem assumenda error quaerat, non molestiae architecto est voluptates perferendis sit deserunt enim pariatur eum incidunt.
	</h1>
	<%#= current_business.campaign_pages.last.new_record? %>

<% end %>
