<div class="container">
  <div>
    <br>
    <br>
    <% @events.each do |f| %>
      <%= link_to f.name, event_path(f) %> || <%#= event_confirmation_helper (f) %> <br>
      <%#= confirmation_message f %>
      <br>
      <br>
    <% end %>
  </div>

</div>



