<br>
<br>
<br>
<br>
<div class="container">
  <div class="container">
      <% if current_business.events.empty? %>
       <h1>No events yet</h1>
      <% end %>
      <% current_business.events.each do |f| %>
      <div class="row eventCard">
        <%= link_to f.name, event_path(f) %> || <%= event_confirmation_helper (f) %> <br>
        <%= confirmation_message f %>
        <br>
        <br>
      </div>

      <br>
      <% end %>
    </div>

  </div>



</div>
