<div class="container">
<h1>Event:</h1>
Event Name: <%= @event.name %>
<br>
Bus Id: <%= @event.business_id %>
<br>
Org Id: <%= @event.org_id %>
<br>
Active: <%#= @event.active %>
	<%# if @event.busiess_active and @event.org_active %>
	<%#= return <p>True</p>%>
		
	<%# else %>
		<!-- <p> false</p> -->
	<%# end %>
	
<br>
<%#= link_to "Event Page", event_page_path(@event) %>
<br>

</div>
