<img class="rounded-circle" src="pages/search-icon-gray.png" alt="Generic placeholder image" width="240px" height="240px">

<div class="container">
	<div class="row">
		<div class="col-md-2">lorem</div>
		<div class="col-md-8">
				<h1 class="text-center about">About Us</h1>
				<div>
					<h4 class="text-center"> Vision </h4>
					<p>
						We seek to be the premier destination for groups looking to partner up with sponsors to organize revenue-sharing events.  Revenue sharing events are a common practice in fundraising; we seek to capture and increase the market by adding features that will make FundRaisable the to go platform for any kind of fundraising needs. 

					</p>
					<h4 class="text-center">Purpose</h4>
					<p>
						We seek to be the premier destination for groups looking to partner up with sponsors to organize revenue-sharing events.  Revenue sharing events are a common practice in fundraising, we seek to capture and increase the market by adding features that will make FundRaisable the to go platform for any kind of fundraising needs. 

					</p>
				</div>

				<h4 class="text-center mt-5">THE FOUNDING TEAM</h4>
				<div>
					<img src="pages/GustavoProfilePIc.jpg" class='border'>
					<img class="rounded-circle" src="pages/search-icon-gray.png" alt="Generic placeholder image" width="240px" height="240px">
        
					<p>
						<strong style="font-weight: 600;">Gustavo Valenzuela - Founder, Chief Event Manager</strong> 
						is a second time at the bate entrepreneur with a passion for building technologies and social platforms that empower the world to get financing and visiblity to maningful projects. <br> 
						It is my life long mission to empower the disempowered youth. 

					</p>
				</div>

				<h4 class="text-center advisors mt-3">Advisors</h1>
				<p>
					<strong style="font-weight: 600;"> Theresa Luu - Founding Team, Chief Technology Officer</strong> 
				</p>
		</div>

		<div class="col-md-2">lorem</div>
	</div>
	<div class="row btspace"></div>
</div>