@import "/*";
@import "bootstrap";
@import 'gritter';

/*.nav-bg-color{
  border-color: #e7e7e7;
  background-color: #f8f8f8;
}*/

/*colors*/

.jumbotron{
  margin-bottom: 0rem;
}

.mktg-stories {
  color: #5a5a5a;
}


.m-b0{
    margin-bottom: 0rem;
  }    

.gray{
  color: gray;
}

.border-line {
  border-right: 5px solid red;
}


body{
  background: #f8f9fb;

}


.space30 {
    margin-bottom: 30px;
}


.side-cat2 {
    padding: 27px;
}

/*navbar*/
.navbar-def {
    background-color: #f8f8f8;
    /*border:5px solid #000;*/
    border-bottom: 1px solid  #e7e7e7;
    /*border-color: #e7e7e7;*/
}

.busNab{
	    margin-right: 10%;
}

.busNab2{
      margin-right: 10%;
}


.sponsor-list{
  /*margin-left: 10%;*/
  /*color: #1e0a3c;*/
  color: #1e0a3c !important;
}


/*end navbar*/

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}





