@import "/*";
@import "bootstrap";
@import 'gritter';

/*.nav-bg-color{
  border-color: #e7e7e7;
  background-color: #f8f8f8;
}*/


.m-b0{
    margin-bottom: 0rem;
  }    

.gray{
  color: gray;
}

.border-line {
  border-right: 5px solid red;
}


body{
  background: #f8f9fb;

}


.space30 {
    margin-bottom: 30px;
}


.side-cat2 {
    padding: 27px;
}


.navbar-def {
    background-color: #f8f8f8;
    /*border:5px solid #000;*/
    border-bottom: 1px solid  #e7e7e7;
    /*border-color: #e7e7e7;*/
}

.busNab{
	    margin-right: 10%;
}

.busNab2{
      margin-right: 10%;
}