
@import "/*";
@import "bootstrap";
@import 'gritter';
@import url('https://fonts.googleapis.com/css?family=Pacifico');

@import "social-share-button";

/*Social share button sizing*/
$size: 36px;
.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

/*color themes*/

.main-body{
  margin-top: 74px !important ;
}

.smTopMargin {
  /*height: 60px;*/
}

/*break line*/
.dotted-line {
    background: 0 0;
    border-bottom: 1px dotted #ddd;
}

/*end*/


.navbar-nav > .nav-item > a {
    position: relative; 
    }


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #dc3545;
 }


hr.new1 {
  border-top: 3px solid red !important;
}

.about-b{
  margin-left: 7em;
}

.grenish{
  color: #007b5e;
}



.greenish{
  color: #436060;
}

.blackish{
  color: #20343b;
}

.header-msg5{
  color: red;
}



.modify{
  color: white !important;
  background-color: #007b5e !important;
  border-color: #007b5e !important;

}
.modify:hover{
  background-color: (0,123,94, .7) !important;
}

.btn-grenish{
  background-color: #007b5e !important;
  border-color: green !important;
}

/*.btn-primary {
    color: pink;
    background-color: green;
    border-color: #007bff;
}*/
/*end color themes*/

.nav-font-size .navbar-brand {
    font-size: 5.8em !important;
  }

.nav-font-size .navbar-brand a:hover {
  font-size: 2.8em !important;
}


.FindSponsor{
  font-size: 1.5em;

}
/*Navbar theming*/
  /* change brand and text color and size*/
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    text-decoration: none !important;
    font-size: 1.8em;
    font-family: 'Pacifico', cursive;
    color: rgba(0,123,94, .8);
    }

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgba(0,123,94, .8);
}


  

/*.navbar-custom a:hover {
  color: red;
}*/
  /* change the link color */
  /*.navbar-custom .navbar-nav .nav-link {*/
      /*color: rgba(255,255,255,.5);*/
      /*color: pink;*/
  /*}*/
  /* change the color of active or hovered links */
  /*.navbar-custom .nav-item.active .nav-link,*/
  /*.navbar-custom .nav-item:focus .nav-link,*/
  /*.navbar-custom .nav-item:hover .nav-link {*/
      /*color: pink;*/
  /*}*/


/*end navbar themening*/

.font1{
  font-family: 'Roboto', sans-serif;
}

.font2{
  font-family: 'Oswald', sans-serif;
  font-size: 56px;
}


.font3{
  font-family: 'Merriweather', serif;
  /*font-size: 22px;*/
}

/*.nav-bg-color{
  border-color: #e7e7e7;
  background-color: #f8f8f8;
}*/

/*colors*/

.jumbotron{
  margin-bottom: 0rem;
}

.mktg-stories {
  color: #5a5a5a;
}


.m-b0{
    margin-bottom: 0rem;
  }    

.gray{
  color: gray;
}

.border-line {
  border-right: 5px solid red;
}


body{
  background: #f8f9fb;

}


.space30 {
    margin-bottom: 30px;
}


.side-cat2 {
    padding: 27px;
}

/*navbar*/
.navbar-1 {
    background-color: #f7fbfa !important;
    /*border:5px solid #000;*/
    border-bottom: 1px solid  #e7e7e7;
    /*border-color: #e7e7e7;*/
}

.busNab{
	    margin-right: 10%;
}

.busNab2{
      margin-right: 5%;
}


.sponsor-list{
  /*margin-left: 10%;*/
  /*color: #1e0a3c;*/
  color: #1e0a3c !important;
}


/*end navbar*/

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}






.card-h{
  height: 411px;
}
