
@import "bootstrap";
@import 'gritter';

.sign-up-stile{
    font-family: 'Rubik', sans-serif;
}

.un-link a:hover {
  text-decoration: none;
}

.l-col {
  color: black;
}


.headerpic{
  /*image-url("photo-room-table");*/
  background-size: cover;
  height: 325px;
  background-image: url("photo-room-table.jpg");
}

.sign-up-sty{
    background-color: #e9ecef !important;
    padding: 1.25rem;

}


/*.label-login {
    margin-bottom: .1rem;
}*/


/*..................... Business Registration...............     */

.bus_edit_page label {
    margin-bottom: .1rem;
    font-weight: normal !important;
    color: gray;

}

.bus_edit_page input {
    color: grey;
    font-weight: 10;
    border: 1px solid #ced4da;
}

.bus_edit_page  {
    font-family: 'Rubik', sans-serif;
    font-weight: 0;
    color: #495057;
}

.bus_edit_page  p {

    font-weight: 0;
    color: #495057;
}




/******************************************************Index page side Search widget***************************************************/
.side-widget {
    border: 1px solid #f0f2f7;
    border-radius: 3px;
    background: #fff;
}

.side-widget h5 {
    font-size: 14px;
    padding: 24px 27px 22px;
    color: #2a2c36;
    border-bottom: 1px solid #f0f2f7;
}

.side-cat2 select.categorie, select {
    width: 100%;
    color: inherit;
    background: url(../images/icons/arrow2.png) no-repeat 93% center;
    background-color: #f0f2f7;
}

.dp-contact input, .side-cat2 input, .dp-contact input, .side-cat2 select.categorie {
    font-size: 14px;
    width: 100%;
    height: 46px;
    margin-bottom: 15px;
    padding: 0 45px 0 25px;
    border: none;
    border-radius: 3px;
    background: #f0f2f7;
}

.form-control, select, input {
    width: 95%;
    height: 45px;
    padding: 10px 15px;
    border: 0;
    border-radius: 3px;
    background-color: #f0f2f7;
    box-shadow: none;
}



.side-cat2 input.keyword {
    background: url(../images/icons/keyword.png) no-repeat 93% center;
    background-color: #f0f2f7;
}

.dp-contact input, .side-cat2 input, .dp-contact input, .side-cat2 select.categorie {
    font-size: 14px;
    width: 100%;
    height: 46px;
    margin-bottom: 15px;
    padding: 0 45px 0 25px;
    border: none;
    border-radius: 3px;
    background: #f0f2f7;
}

.side-cat2 input.location {
    background: url(../images/icons/location2.png) no-repeat 93% center;
    background-color: #f0f2f7;
}

.dp-contact input, .side-cat2 input, .dp-contact input, .side-cat2 select.categorie {
    font-size: 14px;
    width: 100%;
    height: 46px;
    margin-bottom: 15px;
    padding: 0 45px 0 25px;
    border: none;
    border-radius: 3px;
    background: #f0f2f7;
}


.side-cat2 input.radius {
    background: url(../images/icons/radius.png) no-repeat 93% center;
    background-color: #f0f2f7;
}


.dp-contact input, .side-cat2 input, .dp-contact input, .side-cat2 select.categorie {
    font-size: 14px;
    width: 100%;
    height: 46px;
    margin-bottom: 15px;
    padding: 0 45px 0 25px;
    border: none;
    border-radius: 3px;
    background: #f0f2f7;
}

.dp-contact input, .side-cat2 input, .dp-contact input, .side-cat2 select.categorie {
    font-size: 14px;
    width: 100%;
    height: 46px;
    margin-bottom: 15px;
    padding: 0 45px 0 25px;
    border: none;
    border-radius: 3px;
    background: #f0f2f7;
}

.side-cat2 input.reviews {
    background: url(../images/icons/star.png) no-repeat 93% center;
    background-color: #f0f2f7;
}



.dp-contact input, .side-cat2 input, .dp-contact input, .side-cat2 select.categorie {
    font-size: 14px;
    width: 100%;
    height: 46px;
    margin-bottom: 15px;
    padding: 0 45px 0 25px;
    border: none;
    border-radius: 3px;
    background: #f0f2f7;
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.cbox {
    position: absolute;
    left: -999em;
}
.form-control, select, input {
    width: 95%;
    height: 45px;
    padding: 10px 15px;
    border: 0;
    border-radius: 3px;
    background-color: #f0f2f7;
    box-shadow: none;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

label {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 300;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    color: #2a2c36;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.cbox+label .star-ratings {
    position: relative;
    top: -3px;
    left: 8px;
}


.cbox+label .star-ratings i {
    font-size: 16px;
    color: #81b441;
}

.star-ratings i {
    font-size: 14px;
    color: #81b441;
}

.dp-contact input, .side-cat2 input, .dp-contact input, .side-cat2 select.categorie {
    font-size: 14px;
    width: 100%;
    height: 46px;
    margin-bottom: 15px;
    padding: 0 45px 0 25px;
    border: none;
    border-radius: 3px;
    background: #f0f2f7;
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.cbox {
    position: absolute;
    left: -999em;
}
.form-control, select, input {
    width: 95%;
    height: 45px;
    padding: 10px 15px;
    border: 0;
    border-radius: 3px;
    background-color: #f0f2f7;
    box-shadow: none;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}



label {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 300;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    color: #2a2c36;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.cbox+label .star-ratings {
    position: relative;
    top: -3px;
    left: 8px;
}

.cbox+label .star-ratings i {
    font-size: 16px;
    color: #81b441;
}

.star-ratings i {
    font-size: 14px;
    color: #81b441;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dp-contact input, .side-cat2 input, .dp-contact input, .side-cat2 select.categorie {
    font-size: 14px;
    width: 100%;
    height: 46px;
    margin-bottom: 15px;
    padding: 0 45px 0 25px;
    border: none;
    border-radius: 3px;
    background: #f0f2f7;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.cbox {
    position: absolute;
    left: -999em;
}
.form-control, select, input {
    width: 95%;
    height: 45px;
    padding: 10px 15px;
    border: 0;
    border-radius: 3px;
    background-color: #f0f2f7;
    box-shadow: none;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}


label {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 300;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    color: #2a2c36;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
label {
    cursor: default;
}



.cbox+label .star-ratings {
    position: relative;
    top: -3px;
    left: 8px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.side-cat2 button {
    font-size: 14px;
    width: 100%;
    height: 45px;
    margin-top: 14px;
    padding: 0 30px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 3px;
    background: #81b441;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*****************************************End of Side Search widget ******************************************/




/*Beguining of */

body {
    font-family: 'Martel Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    width: 100%;
    margin-top: 51px;
    color: #777;
    background: #fff;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
}
body {
    margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: block;
    margin: 8px;
}

/**/
.search-content {
    padding: 33px 0 43px;
}
.blog-content {
    padding: 33px 0;
    background: #f8f9fb;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}




/*@media (min-width: 992px)*/
.col-md-9 {
    width: 75%;
}

/*@media (min-width: 992px)*/
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}




/*@media (min-width: 992px)*/
.col-md-10 {
    width: 83.33333333%;
}

/*@media (min-width: 992px)*/
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}




.dir-search-list .listing {
    overflow: hidden;
    border: 1px solid #f0f2f7;
    border-radius: 3px;
    background: #fff;
}

.listing {
    overflow: hidden;
    border-radius: 3px;
    background: #fff;
}
.space30 {
    margin-bottom: 30px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}


.dir-search-list .listing-info {
    position: relative;
    padding: 26px;
    padding: 35px 25px 30px;
    border: none;
    border-right: none;
    border-radius: 0;
}
.listing-info {
    position: relative;
    padding: 17px 15px 20px;
    border: 1px solid #f1f2f7;
    border-top: none;
    border-radius: 0 0 3px 3px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.dir-search-list .li-name {
    padding-right: 0;
}
.li-name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: black;
}

.li-name a { 
    color: gray;
 }

.li-name a:hover { 
    text-decoration: none;
    color: black;
 }



.dir-search-list .li-category {
    margin-bottom: 0;
}


p {
    margin: 0 0 1.75em 0;
}
p {
    font-family: 'Martel Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}
p {
    margin: 0 0 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}




/*end of Businesses feed*/



.w-100 {
    width: 100% !important;

}

.logopic{
  width:8em;
  height: 7em;
  margin-top: -4rem;
  background-color: pink;
  margin-left: 5em;
}

.mar-b{
  margin-bottom: 1em;
}


.card-borderless {
    border: none;
  }


.add-card {
    background: #e9ecef !important;
    color: #495057;
}

.add-card a:hover {
  text-decoration: none;
}

















