@import "bootstrap";
@import 'gritter';



.os{
    font-family: 'Open Sans', sans-serif;
}


.thinFont{
    font-family: 'Open Sans Condensed', sans-serif;
}

.italic{
    font-style: italic;
}


hr.orange-br{
    max-width: 50px;
	border-color: #F05F40;
    border-width: 6px;
    max-width: 50px;
    border-width: 3px;
}


@media only screen and (max-width: 600px) {
    .ev_name{
        margin-bottom: 2px;
        font-size: 1.25em;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        
    }

 
}

@media only screen and (min-width: 600px) {
    .ev_name{
        margin-bottom: 2px;
        font-size: 2em;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        
    }

 
}





.short_desc{
    font-size: 1em;
    color: rgb(114, 117, 120);
    font-weight: 300;
}

.by{
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 2px;
    color: #333;
    
}



.by_link{
    color: #333 !important;
    text-decoration: none !important;
    text-decoration: none;
    

}



.inBene_link{
    color: #333 !important;
    text-decoration: none;
    text-decoration: none !important;

}



.orange-link {
    -webkit-transition: all 0.35s !important;
    -moz-transition: all 0.35s !important;
    transition: all 0.35s !important;
    color: #F05F40 !important;
}



#event-show-image {
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}





#event-thumbnail{
  height: 180px; 
  width: 100%;
}


.EPabout{
    font-size: 1em;
}


.sales_info{
    height: 150px;
}

.ion-icon{
    font-size: 64px;
}




.btn-outline-secondary.custom-btn   {
    font-size: 1em !important;
    /*background-color: #000 !important;*/
    border-color: #000;
    font-weight: 300 !important;

}

.btn-outline-secondary.custom-btn:hover  {
    font-size: 1em !important;
    background-color: #6c757d !important;
    border-color: #000;
    font-weight: 300 !important;

}


