/*@import "/*";*/
@import "bootstrap";
@import 'gritter';


.test{
  height: 300px;
  background-color: pink;
}


.welcome-jumbotron{
  margin-bottom: 0rem;
}



.busNab{
	    margin-right: 10%;
}


.welcomeGraph{
	background-color: pink;
	height: 14em;
	width: 14em;
	text-align: center;

}

.marketing{
	
}