@import "bootstrap";
@import 'gritter';

.grenish{
  color: #007b5e;
}

/* Welcome Header */

.welcome-jumbotron{
  
}

.header-msg{
	font-size: 56px
}

.header-msg2{
	font-size: 20px;
	line-height: 34px;
}

.welcome-header{
	background-image: linear-gradient(#f8fcfb, #e8f4f0);
}




.first-slide-pic{
	width: auto;
	height: 20px;
}

.second-slide-pic {
	width: auto;
	height: 20px;
}

.welcome-msg{
	padding-bottom: 0em;

}

.carousel-inner{
	/*height: 250rem;*/
}



.busNab{
	    margin-right: 10%;
}


.welcomeGraph{
	background-color: pink;
	height: 14em;
	width: 14em;
	text-align: center;

}

/*@media (min-width: 576px)*/
.jumbotron {
    /*margin-bottom: 0rem;*/
}

.marketing{
	color: gray;
	padding-bottom: 7em;
	padding-top: 7em;
	/*background-image: linear-gradient(#f8fcfb, #e8f4f0);*/
	background-image: linear-gradient(#e8f4f0,#f8fcfb );
	min-width: 100%;

}


/*.p-story{
	max-width: 100%;
}*/

.story-row{
	margin-top: rem;
}


.album{
	background-color: rgb(247, 222, 212);
}

.albumMain{
	/*background-color: #75beb7;*/
	/*margin-bottom: 20rem;*/
}

.feat-bus{
	/*background-color: #1e0a3c;*/
	/*background-image: linear-gradient(#e9eef5, #1e0a3c);*/
	background-color: #e9eef5;
}

.c-ev{
	font-size: 50px;
}
.currentEvents{
	/*color: white;*/
	padding-top: 3rem;
}






/*******************    ABOUT PAGE           */

.about{
	margin-top: 3em;
}


.btspace{
	margin-bottom: 12em;
}





/*testing from */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/*end*/

/*button color change*/

.btn-primary {
    color: pink;
    background-color: green;
    border-color: #007bff;
}
/* END */

