@import "bootstrap";
@import 'gritter';



/* Welcome Header */

.welcome-jumbotron{
  
}

.header-msg{
	font-size: 56px
}

.header-msg2{
	font-size: 20px;
	line-height: 34px;
}

.welcome-header{
	background-image: linear-gradient(#f8fcfb, #e8f4f0);
}




.first-slide-pic{
	width: auto;
	height: 20px;
}

.second-slide-pic {
	width: auto;
	height: 20px;
}

.welcome-msg{
	padding-bottom: 0em;

}

.carousel-inner{
	/*height: 250rem;*/
}



.busNab{
	    margin-right: 10%;
}


.welcomeGraph{
	background-color: pink;
	height: 14em;
	width: 14em;
	text-align: center;

}

/*@media (min-width: 576px)*/
.jumbotron {
    /*margin-bottom: 0rem;*/
}

.marketing{
	color: gray;
	padding-bottom: 7em;
	padding-top: 7em;
	/*background-image: linear-gradient(#f8fcfb, #e8f4f0);*/
	background-image: linear-gradient(#e8f4f0,#f8fcfb );
	min-width: 100%;

}


/*.p-story{
	max-width: 100%;
}*/

.story-row{
	margin-top: rem;
}


.album{
	background-color: rgb(247, 222, 212);
}

.albumMain{
	/*background-color: #75beb7;*/
	/*margin-bottom: 20rem;*/
}

.feat-bus{
	/*background-color: #1e0a3c;*/
	/*background-image: linear-gradient(#e9eef5, #1e0a3c);*/
	background-color: #e9eef5;
}

.c-ev{
	font-size: 50px;
}
.currentEvents{
	/*color: white;*/
	padding-top: 3rem;
}






/*******************    ABOUT PAGE           */

.about{
	margin-top: 3em;
}


.btspace{
	margin-bottom: 12em;
}








